@model Restaurante.Models.VistaReservacion

<h2 class="mb-4">Mesas disponibles para @Model.FechaSeleccionada.ToShortDateString()</h2>

<div class="row">
    @foreach (var mesa in Model.Mesas)
    {
        // Determinamos si la mesa está disponible o no
        bool disponible = !Model.Reservaciones.Any(r => r.MesaID == mesa.MesaID);
        string cardColor = disponible ? "bg-success" : "bg-danger"; // Verde si está disponible, rojo si no

        <div class="col-md-3 mb-3">
            <div class="card text-white @cardColor">
                <div class="card-body">
                    <h5 class="card-title"> #@mesa.Numero</h5>
                    <p class="card-text">
                        Capacidad: @mesa.Capacidad<br />
                        
                        Cliente: @Model.Reservaciones.Where(r => r.MesaID == mesa.MesaID).Select(r => r.Clientes.NombreCompleto).FirstOrDefault()
                    </p>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    <script src="~/js/reservaciones.js"></script>
}
