@{
  ViewData["Title"] = "Clientes";
}

<body class="color-fondo-body">
<section class="container-encabezado container">
<h1 class="titulos">Clientes</h1>
<div>
    <button type="button" class="Btn" data-bs-toggle="modal" data-bs-target="#ModalCliente">
      <div class="sign">+</div>
      <div class="text">Agregar</div>
    </button>
</section>


<!-- Modal -->
<div class="modal fade" id="ModalCliente" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content shadow-lg border-0">
      <div class="modal-header text-white" style="background-color: #00c763;">
        <h5 class="modal-title" id="ModalTitulo">Nuevo Cliente</h5>
      </div>
      <div class="modal-body p-4">
        <form action="" class="needs-validation" novalidate>
          <p style="color: gray;">!Todos los campos son obligatorios!</p>
          <input type="hidden" id="ClienteID" value="0" />

          <div class="mb-3">
            <label for="Nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control shadow-sm" id="Nombre" placeholder="Ingrese el nombre" required>
            <span id="errorMensajeNombre"
                  style="color:red; display:none; font-size: 15px; padding-left: 4px;">
                  <i class="lni lni-warning pe-1"></i>Debe ingresar un nombre
            </span>
          </div>

          <div class="mb-3">
            <label for="Apellido" class="form-label">Apellido</label>
            <input type="text" class="form-control shadow-sm" id="Apellido" placeholder="Ingrese el apellido" required>
            <span id="errorMensajeApellido"
                  style="color:red; display:none; font-size: 15px; padding-left: 4px;">
                  <i class="lni lni-warning pe-1"></i>Debe ingresar un apellido
            </span>
          </div>

          <div class="mb-3">
            <label for="Email" class="form-label">Email</label>
            <input type="email" class="form-control shadow-sm" id="Email" placeholder="Ingrese el email" required>
            <span id="errorMensajeEmail"
                  style="color:red; display:none; font-size: 15px; padding-left: 4px;">
                  <i class="lni lni-warning pe-1"></i>Debe ingresar un email
            </span>
          </div>

          <div class="mb-3">
            <label for="Telefono" class="form-label">Teléfono</label>
            <input type="number" class="form-control shadow-sm" id="Telefono" placeholder="Ingrese el número de teléfono" required>
            <span id="errorMensajeTelefono"
                  style="color:red; display:none; font-size: 15px; padding-left: 4px;">
                  <i class="lni lni-warning pe-1"></i>Debe ingresar un número de teléfono
            </span>
          </div>
        </form>
      </div>
      <div class="modal-footer border-0">
        <button type="button" onclick="LimpiarModal();" class="btn btn-secondary" data-bs-dismiss="modal">
          <i class="lni lni-close"></i> Cancelar
        </button>
        <button type="button" class="btn text-white" style="background-color: #00c763;" onclick="GuardarCliente()" id="btnGuardarLocalidad">
          <i class="lni lni-save"></i> Guardar
        </button>
      </div>
    </div>
  </div>
</div>






<div class="tbl-administracion" style="overflow: hidden; border-radius: 20px;">
  <table class="table table-dark table-striped" style="border-radius: 20px; overflow: hidden; width: 100%;">
    <thead>
      <tr>
        <th style="background-color: #019a4e;">Nombre</th>
        <th style="background-color: #019a4e;">Apellido</th>
        <th class="d-none d-md-table-cell" style="background-color: #019a4e;">Email</th>
        <th class="d-none d-md-table-cell" style="background-color: #019a4e;">Telefono</th>
        <th style="width: 150px; background-color: #019a4e;">Editar</th>
        <th style="width: 150px; background-color: #019a4e;">Eliminar</th>
      </tr>
    </thead>
    <tbody id="tbody-clientes"></tbody>
  </table>
</div> 

</section>


@section Scripts {
  <script src="~/js/clientes-1.0.0.js"></script>}

</body>