#calendar{
    width: 100%;
    height: 75vh;
    color: #00c763;
    background-color: #313437;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    scrollbar-width: none;
}

.contenedor-calendario
{
    width: 100%;
}

.fc-daygrid-day-number {
    color: #00c763;
}

.fc .fc-col-header-cell-cushion {
    color: #00c763;
    font-weight: bold; 
}


