@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/inicio.css" asp-append-version="true" />

<h1 class="text-center mt-3">¡Bienvenido @User.Identity?.Name!</h1>

<div class="card-body">
    <div class="row">
        <div class="col-md-4 mb-4 col-sm-12">
            <div class="card custom-card d-flex align-items-center">
                <div class="card-body text-center">
                    <a class="text-decoration-none d-block text-gray" asp-area="" asp-controller="Clientes" asp-action="Index">
                    <i class="lni lni-user d-block" style="font-size: 3em;"></i>
                    <span class="titulo-card d-block mt-2">Clientes</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4 col-sm-12">
          <div class="card custom-card d-flex align-items-center">
            <div class="card-body text-center">
              <a class="text-decoration-none d-block text-gray" asp-area="" asp-controller="Meseros" asp-action="Index">
              <i class="lni lni-users d-block" style="font-size: 3em;"></i>
              <span class="titulo-card d-block mt-2">Meseros</span>
              </a>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-4 col-sm-12">
          <div class="card custom-card d-flex align-items-center">
            <div class="card-body text-center">
              <a class="text-decoration-none d-block text-gray" asp-area="" asp-controller="Mesas" asp-action="Index">
              <i class="lni lni-airtable d-block" style="font-size: 3em;"></i>
              <span class="titulo-card d-block mt-2">Mesas</span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 mb-4 col-sm-12">
          <div class="card custom-card d-flex align-items-center">
            <div class="card-body text-center">
              <a class="text-decoration-none d-block text-gray" asp-area="" asp-controller="Menus" asp-action="Index">
              <i class="lni lni-menu d-block" style="font-size: 3em;"></i>
              <span class="titulo-card d-block mt-2">Menus</span>
              </a>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-4 col-sm-12">
            <div class="card custom-card d-flex align-items-center">
                <div class="card-body text-center">
                    <a class="text-decoration-none d-block text-gray" asp-area="" asp-controller="Menus" asp-action="Platos">
                    <i class="lni lni-airtable d-block" style="font-size: 3em;"></i>
                    <span class="titulo-card d-block mt-2">Platos</span>
                    </a>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 mb-4 col-sm-12">
            <div class="card custom-card d-flex align-items-center">
                <div class="card-body text-center">
                    <a class="text-decoration-none d-block text-gray" asp-area="" asp-controller="Pedidos" asp-action="Index">
                    <i class="lni lni-airtable d-block" style="font-size: 3em;"></i>
                    <span class="titulo-card d-block mt-2">Pedidos</span>
                    </a>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>
