@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/inicio.css" asp-append-version="true" />

<h1 class="text-center mt-3">¡Bienvenido @User.Identity?.Name!</h1>

<div class="card-body">
    <div class="row">
        <div class="col-md-4 mb-4 col-sm-12">
            <div class="card custom-card d-flex align-items-center">
                <div class="card-body text-center">
                    <a class="text-decoration-none d-block text-gray" asp-area="" asp-controller="Clientes" asp-action="Index">
                    <i class="lni lni-user-multiple-4 d-block" style="font-size: 3em;"></i>
                    <span class="titulo-card d-block mt-2">Clientes</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4 col-sm-12">
          <div class="card custom-card d-flex align-items-center">
            <div class="card-body text-center">
              <a class="text-decoration-none d-block text-gray" asp-area="" asp-controller="Meseros" asp-action="Index">
              <i class="lni lni-hierarchy-1 d-block" style="font-size: 3em;"></i>
              <span class="titulo-card d-block mt-2">Meseros</span>
              </a>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-4 col-sm-12">
          <div class="card custom-card d-flex align-items-center">
            <div class="card-body text-center">
              <a class="text-decoration-none d-block text-gray" asp-area="" asp-controller="Mesas" asp-action="Index">
              <i class="lni lni-airtable d-block" style="font-size: 3em;"></i>
              <span class="titulo-card d-block mt-2">Mesas</span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 mb-4 col-sm-12">
          <div class="card custom-card d-flex align-items-center">
            <div class="card-body text-center">
              <a class="text-decoration-none d-block text-gray" asp-area="" asp-controller="Menus" asp-action="Listados">
              <i class="lni lni-menu-cheesburger d-block" style="font-size: 3em;"></i>
              <span class="titulo-card d-block mt-2">Menus</span>
              </a>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-4 col-sm-12">
            <div class="card custom-card d-flex align-items-center">
                <div class="card-body text-center">
                  <a class="text-decoration-none d-block text-gray" asp-area="" asp-controller="Reservaciones" asp-action="Index">
                  <i class="lni lni-service-bell-1 d-block" style="font-size: 3em;"></i>
                  <span class="titulo-card d-block mt-2">Reservaciones</span>
                  </a>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 mb-4 col-sm-12">
            <div class="card custom-card d-flex align-items-center">
                <div class="card-body text-center">
                    <a class="text-decoration-none d-block text-gray" asp-area="" asp-controller="Pedidos" asp-action="Index">
                    <i class="lni lni-pen-to-square d-block" style="font-size: 3em;"></i>
                    <span class="titulo-card d-block mt-2">Pedidos</span>
                    </a>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>
