@{
    ViewData["Title"] = "Menus";
}

<body>
<section class="container-encabezado container">
<h1 class="titulos">Menus</h1>
<div>
    <button type="button" class="Btn" data-bs-toggle="modal" data-bs-target="#ModalMenu">
      <div class="sign">+</div>
      <div class="text">Agregar</div>
    </button>
</section>


        <!-- Modal -->
<div class="modal fade" id="ModalMenu" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content shadow-lg border-0">
      <div class="modal-header text-white" style="background-color: #00c763;">
        <h5 class="modal-title" id="ModalTitulo">Nuevo Menú</h5>
      </div>
      <div class="modal-body p-4">
        <form action="" class="needs-validation" novalidate>
          <p style="color: gray;">!Todos los campos son obligatorios!</p>
          <input type="hidden" id="MenuID" value="0" />

          <div class="mb-3">
            <label for="Nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control shadow-sm" id="Nombre" placeholder="Ingrese el nombre del menú" required>
            <span id="errorMensajeNombre"
                  style="color:red; display:none; font-size: 15px; padding-left: 4px;">
                  <i class="lni lni-warning pe-1"></i>Debe ingresar un nombre
            </span>
          </div>
        </form>
      </div>
      <div class="modal-footer border-0">
        <button type="button" onclick="LimpiarModal();" class="btn btn-secondary" data-bs-dismiss="modal">
          <i class="lni lni-close"></i> Cancelar
        </button>
        <button type="button" class="btn text-white" style="background-color: #00c763;" onclick="GuardarMenu()">
          <i class="lni lni-save"></i> Guardar
        </button>
      </div>
    </div>
  </div>
</div>






        <div class="tbl-administracion" style="overflow: hidden; border-radius: 20px;">
            <table class="table table-dark table-striped" style="border-radius: 20px; overflow: hidden; width: 100%;">
                <thead>
                    <tr>
                        <th style="background-color: #019a4e;">Nombre</th>
                        <th style="width: 150px; background-color: #019a4e;">Editar</th>
                        <th style="width: 150px; background-color: #019a4e;">Eliminar</th>
                    </tr>
                </thead>
                <tbody id="tbody-menus"></tbody>
            </table>
        </div>

    </section>


    @section Scripts {
        <script src="~/js/menus-1.0.0.js"></script>
    }

</body>