@inject SignInManager<IdentityUser> SignInManager
@using Microsoft.AspNetCore.Identity

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ROUSE</title>
    <link rel="icon" type="image/png" href="~/img/LogoRedondo.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Restaurante.styles.css" asp-append-version="true" />
    <link href="https://cdn.lineicons.com/5.0/lineicons.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    @if (SignInManager.IsSignedIn(User))
    {
    <header>
<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
        <!-- Logo en lugar del nombre -->
        <a class="navbar-brand me-auto" asp-area="" asp-controller="Home" asp-action="Index">
            <img src="~/img/LogoRedondo.png" alt="" style="height: 70px; padding-bottom: 5px;" />
        </a>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header" style="background-color: #363738;">
                <h5 class="offcanvas-title" style="color: #fafafa;" id="offcanvasNavbarLabel">Rouse</h5>
                <button type="button" class="btn-close" style="color: #fafafa;" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body" style="background-color: #363738;">
                <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link mx-lg-2" asp-area="" asp-controller="home" asp-action="Index">
                            <i class="lni lni-home-2" style="font-size: 20px;"></i>
                            <span class="titulo-navbar">Inicio</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-lg-2" asp-area="" asp-controller="Clientes" asp-action="Index">
                            <i class="lni lni-user-multiple-4" style="font-size: 20px;"></i>
                            <span class="titulo-navbar">Clientes</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-lg-2" asp-area="" asp-controller="Meseros" asp-action="Index">
                            <i class="lni lni-hierarchy-1" style="font-size: 20px;"></i>
                            <span class="titulo-navbar">Meseros</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-lg-2" asp-area="" asp-controller="Mesas" asp-action="Index">
                            <i class="lni lni-airtable" style="font-size: 20px;"></i>
                            <span class="titulo-navbar">Mesas</span>
                        </a>
                    </li>

                    <!-- Dropdown Menus -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle mx-lg-2" href="#" id="dropdownMenus" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="lni lni-menu-cheesburger" style="font-size: 20px;"></i>
                            <span class="titulo-navbar">Gestión de Menús</span>
                        </a>
                        <ul class="dropdown-menu custom-dropdown" aria-labelledby="dropdownMenus">
                            <li><a class="dropdown-item" asp-area="" asp-controller="Menus" asp-action="Listados">Listados</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Menus" asp-action="Platos">Crear Platos</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Menus" asp-action="Index">Crear Menu</a></li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link mx-lg-2" asp-area="" asp-controller="Pedidos" asp-action="Index">
                            <i class="lni lni-pen-to-square" style="font-size: 20px;"></i>
                            <span class="titulo-navbar">Pedidos</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-lg-2" asp-area="" asp-controller="Reservaciones" asp-action="Index">
                            <i class="lni lni-service-bell-1" style="font-size: 20px;"></i>
                            <span class="titulo-navbar">Reservaciones</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <partial name="_LoginPartial" />
        <button class="navbar-toggler pe-3" style="color: #fafafa; margin: 10px;" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <i class="lni lni-angle-double-right"></i>
        </button>
    </div>
</nav>

</header>

<footer class="custom-footer">
    <div class="container d-flex justify-content-between align-items-center">
        <p>&copy; 2024 - Restaurante</p>
        <div class="social-links">
            <a href="https://facebook.com" target="_blank" aria-label="Facebook" class="social-icon" title="Facebook">
                <i class="lni lni-facebook" style="font-size: 35px;"></i>
            </a>
            <a href="https://twitter.com" target="_blank" aria-label="Twitter" class="social-icon" title="Twitter">
                <i class="lni lni-twitter-old" style="font-size: 35px;"></i>
            </a>
            <a href="https://instagram.com" target="_blank" aria-label="Instagram" class="social-icon" title="Instagram">
                <i class="lni lni-instagram" style="font-size: 35px;"></i>
            </a>
            <a href="https://wa.me/tuNumeroTelefono" target="_blank" aria-label="WhatsApp" class="social-icon" title="Whatsapp">
                <i class="lni lni-whatsapp" style="font-size: 35px;"></i>
            </a>
        </div>
    </div>
</footer>
}
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<div class="loading-background" id="loadingBackground">
    <div class="spinner" id="spinner"></div>
</div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/script.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
