<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ROUSEN</title>
    <link rel="icon" type="image/png" href="~/img/LogoRedondo.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Restaurante.styles.css" asp-append-version="true" />
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/fontawesome/css/all.min.css" />
</head>
<body>
    <header>
<nav class="navbar navbar-expand-lg fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand me-auto" style="color:#fafafa" href="#">Rousen</a>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                    aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header" style="background-color: #363738;">
                        <h5 class="offcanvas-title" style="color: #fafafa;"  id="offcanvasNavbarLabel">Restaurante</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body" style="background-color: #363738;">
                        <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link mx-lg-2" asp-area="" asp-controller="home" asp-action="Index">
                                    <i class="lni lni-home"></i>
                                    <span class="titulo-navbar">Home</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mx-lg-2" asp-area="" asp-controller="Clientes" asp-action="Index">
                                    <i class="lni lni-user"></i>
                                    <span class="titulo-navbar">Clientes</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mx-lg-2" asp-area="" asp-controller="Meseros" asp-action="Index">
                                    <i class="lni lni-users"></i>
                                    <span class="titulo-navbar">Meseros</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mx-lg-2" asp-area="" asp-controller="Mesas" asp-action="Index">
                                    <i class="lni lni-airtable"></i>
                                    <span class="titulo-navbar">Mesas</span>
                                </a>
                            </li>
                    </div>
                </div>
                <a class="login-button  " style="font-weight: 600; color: #363738;" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index","Home", new { area = "" })">Logout</a>
            <button class="navbar-toggler pe-3" style="color: #fafafa;" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <i class="lni lni-angle-double-right"></i>
            </button>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Restaurante - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/fontawesome/js/all.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
